.logo {
    max-width: 200px;
    -webkit-animation: logo 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: logo 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.textologo {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Reem Kufi', sans-serif;
    -webkit-animation: textologo 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: textologo 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.uniongamers {
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.fondo {
    background-color: #005fa77e;
}

.servidor {
    background-color: #005ea7;
}

.servidoroff {
    background-color: #383d41;
    opacity: 0.8;
}

.boton {
    background-color: #5ea700;
}

.boton:hover {
    background-color: #4f8a02;
}

.footer {
    background-color: #005ea7;
    height: 60px;
}

.mb-5 {
    margin-bottom: 1200px;
}

.iconos {
    max-width: 50px;
}

@-webkit-keyframes textologo {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes textologo {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
        transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
        transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}